.portfolio {
  margin-bottom: 1em;
}
.portfolio > div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: .5em;
}

.portfolio.left, .portfolio.right {
  padding: 0 .5em;
}

.portfolio img {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.portfolio h2 {
  margin: 0 0 .5em;
  text-align: center;
}
.portfolio h3 {
  margin-bottom: .2em;
  text-align: center;
}

.portfolio p:first-of-type {
  margin-top: 0;
}

.portfolio .links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0 0 .5em 0;
}
.portfolio .links li a {
  text-decoration: none;
}
.portfolio .links li a span {
  margin-left: .5em;
  font-size: smaller;
  font-weight: bold;
}

.portfolio.right ul.tech-stack {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: .5em;
  list-style-type: none;
  font-size: smaller;
  font-weight: bold;
}
.portfolio.right .tech-stack li {
  padding: .2em .4em;
  background-color: bisque;
  border-radius: 5px;
}

@media only screen and (max-width:999px) {
  .portfolio > div {
    flex-direction: column-reverse;
  }
  .portfolio img {
    width: 100%;
    max-width: 500px;
  }
  .portfolio.right ul.tech-stack {
    flex-direction: column;
  }
}
